<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
<connectionStrings>
  <add name="QuanLySachEntities" connectionString="metadata=res://*/Model.Model.csdl|res://*/Model.Model.ssdl|res://*/Model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THUAN-PC\SQLEXPRESS;initial catalog=QuanLySach;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
  <add name="BookStore.Properties.Settings.QuanLySachConnectionString"
    connectionString="Data Source=THUAN-PC\SQLEXPRESS;Initial Catalog=QuanLySach;Integrated Security=True"
    providerName="System.Data.SqlClient" />
</connectionStrings></configuration>